<!--/modelo enumerando dados recebido do metodo de conexão-->
@model IEnumerable<Proj.Models.Cidade>

<!-- //iniciando estrutura do razor -->
@{
    //alteranto o titulo da pagina
    ViewData["title"] = "Detalhes";
    //laço para pegar dados do banco
    foreach (var item in Model)
    {
        //criando elementos html e inserindo dados do banco dentro deles
        <div class="jumbotron">
            <h2>
                Detalhes da Cidade
            </h2>
            <dl>
                <dt><h3>Id</h3></dt>
                <dd>@item.Id</dd>
            </dl>

            <dl>
                <dt><h3>Nome da Cidade</h3></dt>
                <dd>@item.Nome</dd>
            </dl>
            <dl>
                <dt><h3>Estado</h3></dt>
                <dd>@item.Estado</dd>
            </dl>
            <dl>
                <dt><h3>Habitantes</h3></dt>
                <dd>@item.Habitantes</dd>
            </dl>
        </div> 
    }
}

