@model Proj.Models.Cidade
@{
    ViewData["title"] = "Editar";
}

<div class="row">
    <form class="form-group" asp-action="Editar">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input type="text" class="form-control" placeholder="Nome" asp-for="Nome"><br>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Estado" class="control-label"></label>
            <input type="text" class="form-control" placeholder="Estado" asp-for="Estado" maxlength="2"><br>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div><div class="form-group">
            <label asp-for="Habitantes" class="control-label"></label>
            <input type="number" class="form-control" placeholder="Habitantes" asp-for="Habitantes"><br>
            <span asp-validation-for="Habitantes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-feault">
        </div>
    </form>
</div>